# ===== Unity =====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# Asset meta data should only be ignored when the corresponding asset is also ignored
# (do NOT ignore *.meta)

# ===== Visual Studio / Rider / VSCode =====
.vs/
.idea/
.vscode/

# ===== Unity generated / IDE files =====
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ===== OS junk =====
.DS_Store
Thumbs.db